<div class="container">
    <app-cock-pit (serverCreated)="onServerAdded($event)" (blueprintCreated)="onBlueprintCreated($event)">
    </app-cock-pit>
    <hr>
    <div class="row">
        <div class="col-lg-8">
            <button class="btn btn-primary m-2" (click)="changeFirst()">On change first</button>
            <button class="btn btn-danger m-2" (click)="destroy()">Destroy the component</button>
            <app-server-element *ngFor="let server of serverElements" [srvElement]="server" [title]="server.title">
                <div class="card-body" #cardBody>
                    <strong class="text-danger" *ngIf="server.type === 'server'"> {{server.content}} </strong>
                    <em class="text-primary" *ngIf="server.type === 'blueprint'">{{server.content}}</em>
                </div>
            </app-server-element>
        </div>
    </div>
    <p *ngIf="serverElements.length === 0 ; else serversList" class="text-danger">No servers found</p>

    <ng-template #serversList>
        <p class="text-success">
            There are total of {{serverElements.length}} servres
        </p>
    </ng-template>
    <br>
</div>